<hr />
<p>
<strong>Commenter:</strong><%= comment.commenter %>
</p>

<p>
	<strong>Comment:</strong><%= simple_format comment.body %>
</p>

<p>
<%= link_to 'Destroy Comment', article_comment_path(comment.article, comment),
			method: :delete,
			data: { confirm: 'Are you sure?' } %>
</p>
