<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav">
				<li <% if current_page?(root_path) %>class="active"<% end %>>
					<%= link_to 'Home', root_path %>
				</li>
				<li <% if current_page?(controller: 'articles') %>class="active"<% end %>>
					<%= link_to 'Articles', articles_path %>
				</li>
				<li>
					<a href="#">About</a>
				</li>
				<li>
					<a href="#">Contact</a>
				</li>
			</ul>
		</div>
	</div>
</div>
